.env

# Whole folders
data/
icons/
libmev_data/
__pycache__/
.ipynb_checkpoints/
.vscode/

# Specific extensions
*.ipynb
*.json
*.xlsx
*.zip

# Extensions in folders
reports/*.xlsx
reports/*.csv

# Specific files
metadata.py